img {
    height: 33vh;
    object-fit: cover;
}

.card {
    margin-bottom: 30px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.card-body {
    padding: 10px 0px;
}

.card-footer {
    padding: 0;
    border: none;
    background-color: white;
}

.card-title {
    font-size: x-large;
}

.card-text {
    margin-top: -0.75rem;
    font-weight: bolder;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
}