<!-- banner -->

<img src="../../../../assets/banner.jpg" class="hero-image" />
<div class="hero-text">
    <h5 style="
        font-family: Brush Script MT, Brush Script Std;
        font-size: 3rem;
        line-height: 1.5;
        letter-spacing: 0px;
        margin-top: 2rem;
        ">The Best Food for the Finest</h5>
    <h2 style="
        font-weight: 800;
        font-family: 'Roboto Slab', serif;
        font-size: 7rem;
        letter-spacing: 1rem;
        line-height: 1;
        letter-spacing: 0px;
        ">AUP HEALTH FOODS</h2>
    <p style="
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 35px;
        font-size: larger;
    ">We strive for consistency so that each product of our factory delivers the same reliably satisfying experience
        while
        offering an exciting oppurtunity for healthy living</p>
    <button type="button" class="btn btn-outline-warning btn-lg">Shop Now</button>
</div>

<!-- sample category -->

<div class="container" style="padding-bottom: 100px;">
    <h5 class="text-center" style="
    color: rgb(247, 212, 57);
    font-size: 2.2rem;
    font-family: Brush Script MT, Brush Script Std;
    margin-top: 100px;
    margin-bottom: 0px;
">Made from real 100% vegetables and plants</h5>
    <h2 class="text-center" style="
    font-size: 6rem;
    color: #343A40;
    margin-bottom: 40px;
    letter-spacing: -5px;
">ORGANIC AND MEAT FREE</h2>
    <div class="row">
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid"
                    src="https://images.pexels.com/photos/2067631/pexels-photo-2067631.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title" style="
                        font-size: 3rem;
                        color: #343A40;
                        letter-spacing: -4px;
                    ">BREAD</h5>
                    <p class="card-text"><small class="text-muted">Our bakers work each and every day to bring you the most delicious, freshly baked bread possible.</small></p>
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-warning btn-lg">Try Our Bread</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid"
                    src="https://images.pexels.com/photos/248412/pexels-photo-248412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title" style="
                        font-size: 3rem;
                        color: #343A40;
                        letter-spacing: -4px;
                    ">DRINKS</h5>
                    <p class="card-text"><small class="text-muted">From soya milk, buko juice to our carrot juice, your thirst will never be satisfied like never before with our refreshing drinks</small></p>
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-warning btn-lg">Try Our Drinks</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Tofu_4.jpg"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title" style="
                        font-size: 2.8rem;
                        color: #343A40;
                        letter-spacing: -4px;
                    ">VEGE GOODS</h5>
                    <p class="card-text"><small class="text-muted">Our vege products unleashes the cooking skills within you. Ensuring firm crunchy tofus, burger patty, tapas and others feature a chewy interior riddled with a deep-gold crust.</small></p>
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-warning btn-lg">Try our Vege Goods</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about section -->

<div class="container-fluid" style="background-color: #F4F3EB; padding-bottom: 100px;">
    <div class="container" style="padding-top: 70px;">
        <h2 class="text-center" style="
            color: rgb(247, 212, 57);
            font-size: 2.5rem;
            font-family: Brush Script MT, Brush Script Std;
        ">Humble beginnings</h2>
        <h5 class="text-center" style="
            font-size: 5rem;
            color: #343A40;
            margin-bottom: 40px;
            letter-spacing: -4px;
        ">ABOUT PUC HEALTH FOODS</h5>
        <div class="row">
            <div class="col-6">
                <img class="img-left"
                    src="https://images.pexels.com/photos/3218467/pexels-photo-3218467.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Card image cap">
            </div>
            <div class="col-6">
                <div class="card" style="width: 40vw; background-color: #F4F3EB;">
                    <div class="card-body" style="padding: 0%;">
                        <h5 class="card-title" style="
                            font-family: 'Open Sans', sans-serif;
                            padding: 3%;
                        ">Started in 1939, the school decides to promote biblical healthy diet and begins serving only
                            vegetarian dishes in the caferia. This initiates the development of the food factory later
                            known as the PUC Health Foods</h5>
                        <p class="card-text" style="
                            font-family: 'Open Sans', sans-serif;
                            padding: 3%;
                        "><small class="text-muted">AUP Health Foods creates exceptional vegetarian products and
                                variety of pastries such as
                                pineapple and coconut cookies, yema cakes, choco loaf, variety of hopia flavors,
                                terin-terin, and many more. The
                                loafs, cookies and soya milk have been cited as the students’s favorite choice of
                                delicacy when satisfying their hungry souls.
                                All vegetarian products are made in-house and delivered to your house so you can enjoy
                                cooking it at home.
                                Our commitment to quality is never compromised.</small></p>
                        <a href="#" class="btn btn-primary" style="margin-left: 3%">Try our products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->

<div class="container-fluid" style="background-color: #343A40;">
    <div class="row justify-content-center">
        <div class="text-center" style="padding: 2rem; color: whitesmoke;">
            <h3 style="margin-bottom: 1rem;">AUP HEALTH FOODS</h3>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
            <p style="margin: 1rem"><small class="text-muted">© 2020 All Rights Reserved Terms of Use and Privacy
                    Policy</small></p>
        </div>
    </div>
</div>