<!-- <div> -->
<img src="../../../../assets/banner.jpg" class="hero-image" />
<div class="hero-text">
    <h5>The Best Place for the Finest</h5>
    <h2>BREADS AND CAKES</h2>
    <p>We strive for consistency so that each visit to our bakery delivers the same reliably satisfying experience while
        offering an exciting variety of products.</p>
    <button>Shop Now</button>
</div>
<!-- </div> -->

<hr>

<!-- sample category -->

<h5 class="text-center">Made to be shared</h5>
<h2 class="text-center">BAKERY IS WHERE THE TASTE COMES FROM</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid"
                    src="https://images.pexels.com/photos/2067631/pexels-photo-2067631.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Some quick example text to build on the card title
                            and make up the bulk of the card's content.</small></p>
                    <div class="col text-center">
                        <button class="btn btn-primary">Go somewhere</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid"
                    src="https://images.pexels.com/photos/248412/pexels-photo-248412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Some quick example text to build on the card title
                            and make up the bulk of the card's content.</small></p>
                    <div class="col text-center">
                        <button class="btn btn-primary">Go somewhere</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Tofu_4.jpg"
                    alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"><small class="text-muted">Some quick example text to build on the card title
                            and make up the bulk of the card's content.</small></p>
                    <div class="col text-center">
                        <button class="btn btn-primary">Go somewhere</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- about section -->

<div class="container">
    <h2 class="text-center">Our history</h2>
    <h5 class="text-center">ABOUT OUR BAKERY COMPANY</h5>
    <div class="row">
        <div class="col-6">
                <img class="img-left"
                    src="https://images.pexels.com/photos/3218467/pexels-photo-3218467.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Card image cap">
        </div>
        <div class="col-6">
            <div class="card" style="width: 40vw;">
                <div class="card-body" style="padding: 0%;">
                    <h5 class="card-title">Opened in 1980 this once small space has grown and grown to become the area’s premier bakery with its’ own full-service restaurant.</h5>
                    <p class="card-text">Bakery creates exceptional bread and childhood favorites including sweet pastries, artistic cakes, seasonal tarts, nostalgic cookies and rich viennoiserie. The croissants have been cited as the city’s best in publications such as Vancouver Magazine. All sandwiches are made in-house and can be enjoyed ‘to-go’ or at a table in the charming 16-seat café. Our commitment to quality is never compromised.</p>
                    <a href="#" class="btn btn-primary">Try our products</a>
                </div>
            </div>
        </div>


    </div>
</div>

<hr>

<!-- footer -->

<div class="container">
    <div class="row justify-content-center">
        <div class="text-center">
            <h3>Logo</h3>
            <p>Social Media Icons</p>
            <p>Copyright 2020</p>
        </div>
    </div>
</div>