<div class="row no-gutters">
    <div class="col-2">
        <button 
            (click)="removeFromCart()"
            class="btn btn-secondary btn-block align-self-center text-center">-</button>
    </div>
    <div class="col text-center align-self-center" style="font-size: medium;">
        {{ shoppingCart.getQuantity(product) }} in cart
    </div>
    <div class="col-2">
        <button 
            (click)="addToCart()"
            class="btn btn-secondary btn-block align-self-center text-center">+</button>
    </div>
</div>
