
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.navbar-brand.products {
    padding-left: 10px;
}

.nav-item .nav-link {
    font-size: larger;
}

.container {
    justify-content: left !important;
}

.right-content {
    justify-content: right !important;
}